.slide-card {
    width: 100%;
    padding: 10rem 1rem;
    background: darkslategray;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
}

.slide-card--inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}